<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  xmlns:groupmailer="http://typo3.org/ns/In2code/Groupmailer/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="btn-group">

	<groupmailer:link.approveMailing uid="{mailing.uid}" class="btn btn-default"
								   title="{f:translate(key:'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:quick-options.approve')}"
								   returnUrl="{f:be.uri(route: 'web_GroupmailerAdministration')}">
		<core:icon identifier="actions-play" size="small"/>
	</groupmailer:link.approveMailing>
	<groupmailer:link.rejectMailing uid="{mailing.uid}" class="btn btn-default"
								  title="{f:translate(key:'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:quick-options.reject')}"
								  returnUrl="{f:be.uri(route: 'web_GroupmailerAdministration')}">
		<core:icon identifier="actions-ban" size="small"/>
	</groupmailer:link.rejectMailing>

</div>
<div class="btn-group">
	<backend:link.editRecord uid="{mailing.uid}" table="tx_groupmailer_domain_model_mailing"
							 class="btn btn-default"
							 title="{f:translate(key:'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:quick-options.edit')}"
							 returnUrl="{f:be.uri(route: 'web_GroupmailerAdministration')}">
		<core:icon identifier="actions-open" size="small"/>
	</backend:link.editRecord>

	<f:comment>
	<groupmailer:link.hideUnHideRecord uid="{mailing.uid}"
									 table="tx_groupmailer_domain_model_mailing"
									 class="btn btn-default"
									 title="{f:translate(key:'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:quick-options.hide')}"
									 currentStatus="{mailing.hidden}">
		<f:if condition="{mailing.hidden}">
			<f:then>
				<core:icon identifier="actions-edit-unhide"/>
			</f:then>
			<f:else>
				<core:icon identifier="actions-edit-hide"/>
			</f:else>
		</f:if>
	</groupmailer:link.hideUnHideRecord>
	</f:comment>

	<groupmailer:link.deleteRecord uid="{mailing.uid}" table="tx_groupmailer_domain_model_mailing"
								 title="{f:translate(key:'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:quick-options.delete')}"
								 class="btn btn-default t3js-modal-trigger"
								 data="{
														   title: '{f:translate(key:\'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:modal.delete-warning.title\')}',
														   content: '{f:translate(key:\'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:modal.delete-warning\')}',
														   severity: 'error',
														   button-close-text: '{f:translate(key:\'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:modal.delete-warning.cancel\')}',
														   button-ok-text: '{f:translate(key:\'LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:modal.delete-warning.yes\')}'
														   }">
		<core:icon identifier="actions-delete"/>
	</groupmailer:link.deleteRecord>
</div>
</html>
