<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  xmlns:groupmailer="http://typo3.org/ns/In2code/Groupmailer/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="panel panel-default">
	<div class="panel-heading">
		3. <f:translate key="LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:create-mailing.mailing"/>
	</div>

	<fieldset class="form-section">

		<div class="form-group">
			<label for="senderName" class="col-sm-1 control-label">
				<f:translate key="LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:create-mailing.sender-name"/> *
			</label>
			<div class="col-sm-5">
				<f:form.textfield name="senderName" value="{senderData.senderName}" class="form-control" required="required" property="senderName"/>
			</div>
		</div>
		<div class="form-group">
			<label for="senderMail" class="col-sm-1 control-label">
				<f:translate key="LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:create-mailing.sender-mail"/> *
			</label>
			<div class="col-sm-5">
				<f:form.textfield name="senderMail" value="{senderData.senderMail}" class="form-control" required="required" property="senderMail"/>
			</div>
		</div>

		<div class="form-group">
			<label for="subject" class="col-sm-1 control-label">
				<f:translate key="LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:create-mailing.subject"/> *
			</label>
			<div class="col-sm-5">
				<f:form.textfield name="subject" class="form-control" required="required" property="subject"/>
			</div>
		</div>
		<div class="form-group">
			<label for="bodytext" class="col-sm-1 control-label">
				<f:translate key="LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:create-mailing.bodytext"/>
			</label>
			<div class="col-sm-5">
				<f:form.textarea cols="70" rows="15" class="form-control" name="bodytext" property="bodytext"/>
			</div>
		</div>
		<div class="form-group">
			<label for="files" class="col-sm-1 control-label">
				<f:translate key="LLL:EXT:groupmailer/Resources/Private/Language/locallang_db.xlf:create-mailing.attachments"/>
			</label>
			<div class="col-sm-5">
				<f:form.upload name="files" class="form-control" multiple="multiple"/>
			</div>
		</div>
	</fieldset>
</div>
</html>
