<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
	  xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
	  xmlns:in2bemail="http://typo3.org/ns/In2code/In2bemail/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="panel panel-default">
	<div class="panel-heading">Mailing</div>

	<fieldset class="form-section">

		<div class="form-group">
			<label for="senderName" class="col-sm-1 control-label">Sender Name</label>
			<div class="col-sm-5">
				<f:form.textfield name="senderName" class="form-control" property="senderName"/>
			</div>
		</div>
		<div class="form-group">
			<label for="senderMail" class="col-sm-1 control-label">Sender Mail</label>
			<div class="col-sm-5">
				<f:form.textfield name="senderMail" class="form-control" property="senderMail"/>
			</div>
		</div>

		<div class="form-group">
			<label for="subject" class="col-sm-1 control-label">Subject</label>
			<div class="col-sm-5">
				<f:form.textfield name="subject" class="form-control" property="subject"/>
			</div>
		</div>
		<div class="form-group">
			<label for="bodytext" class="col-sm-1 control-label">Bodytext</label>
			<div class="col-sm-5">
				<f:form.textarea cols="70" rows="15" class="form-control" name="bodytext" property="bodytext"/>
			</div>
		</div>
		<div class="form-group">
			<label for="files" class="col-sm-1 control-label">Dateien</label>
			<div class="col-sm-5">
				<f:form.upload name="files" class="form-control" multiple="multiple"/>
			</div>
		</div>
	</fieldset>
</div>
</html>
